@model AboutViewModel
@{
    var site = DataRequestModel.SiteSetting;

    ViewData["Title"] = string.IsNullOrEmpty(Model.About?.MetaTitle)
        ? "Hakkımızda"
        : Model.About.MetaTitle;

    ViewData["MetaDescription"] = string.IsNullOrEmpty(Model.About?.MetaDescription)
        ? (site?.MetaDescription ?? "Hakkımızda")
        : Model.About.MetaDescription;

    ViewData["MetaKeywords"] = string.IsNullOrEmpty(Model.About?.Keywords)
        ? (site?.Keywords ?? "Hakkımızda")
        : Model.About.Keywords;
}
 <!-- Main start -->
<main class="main">

    <!-- Breadcrumnd Banner -->
    <section class="breadcrumnd-banner position-relative">
        <div class="container">
            <div class="row g-5 justify-content-center">

                <div class="col-12">
                    <div class="breadcrumnd-content text-center">
                        <h1 class="white mb-xxl-10 mb-xl-8 mb-6" data-aos="zoom-in-left" data-aos-duration="1800">
                            Markanızın En Büyük Destekçisi
                        </h1>

                        <ul class="breadcrumnd d-inline-flex align-items-center gap-2 pra-border radius100 py-xxl-3 py-2 px-xxl-4 px-4 mb-5"
                            data-aos="zoom-in-right" data-aos-duration="2000">
                            <li>
                                <a asp-controller="About" asp-action="Index" class="text-uppercase htheme">
                                    Anasayfa
                                </a>
                            </li>
                            <li>
                                <span class="rot60 d-inline-block">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                            </li>
                            <li class="theme-clr">
                                Hakkımızda
                            </li>
                        </ul>

                        <div class="hero-sponsor mt-5">
                            <div class="sponsor-inner row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center align-items-center mb-6">

                                <div class="col">
                                    <a href="index.html"><img src="assets/img/client/c1.png" alt="img" class="img-fluid" style="max-height: 50px;"></a>
                                </div>
                                <div class="col">
                                    <a href="index.html"><img src="assets/img/client/c2.png" alt="img" class="img-fluid" style="max-height: 50px;"></a>
                                </div>
                                <div class="col">
                                    <a href="index.html"><img src="assets/img/client/c3.png" alt="img" class="img-fluid" style="max-height: 50px;"></a>
                                </div>
                                <div class="col">
                                    <a href="index.html"><img src="assets/img/client/c1.png" alt="img" class="img-fluid" style="max-height: 50px;"></a>
                                </div>
                                <div class="col">
                                    <a href="index.html"><img src="assets/img/client/c2.png" alt="img" class="img-fluid" style="max-height: 50px;"></a>
                                </div>
                                <div class="col">
                                    <a href="index.html"><img src="assets/img/client/c3.png" alt="img" class="img-fluid" style="max-height: 50px;"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumnd Banner -->
    <!-- Cmn About Start -->
    <section class="pt-space pb-space section-bg">
        <div class="container">
            <div class="row g-6 justify-content-between">
                <div class="col-lg-6 pe-lg-14">
                    <div class="d-flex gap-xxl-7 gap-xl-5 gap-4 position-relative z-index-1">
                        <div class="about-small-thumb w-100" data-aos="zoom-in" data-aos-duration="1500">
                            <img src="assets/img/about/about-s1.png" alt="img" class="w-100">
                        </div>
                        <div class="about-small-thumb w-100 mt-xxl-10 mt-xl-7 mt-lg-5 mt-3" data-aos="zoom-in"
                             data-aos-duration="1800">
                            <img src="assets/img/about/about-s2.png" alt="img" class="w-100">
                        </div>
                        <!--- About Arrow -->
                     @*    <img src="/img/ideio-about.png" height="182" width="182" alt="img" class="about-tumb-arrow"> *@

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-samll-content">
                        <div class="pricing-title">
                            <div class="radius-btn text-uppercase cmn-border d-inline-flex radius100 py-xxl-2 py-2 px-xxl-4 px-4 theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5"
                                 data-aos="zoom-in-left" data-aos-duration="1400">
                                Hakkımızda
                                <span class="rot60 d-inline-block">
                                    <i class="fas fa-arrow-up theme-clr"></i>
                                </span>
                            </div>
                            <h2 class="stitle d-flex align-items-center mb-xxl-8 mb-xl-7 mb-lg-6 mb-5 gap-xxl-7 gap-xl-5 gap-3"
                                data-aos="zoom-in-left" data-aos-duration="1700">
                                <img src="/img/ideio-about.png" height="182" width="182" alt="img" data-aos="zoom-in-up"
                                     data-aos-duration="2000">
                                @Model.About.Title
                            </h2>
                            <p class="white-clr mb-xxl-8 mb-xl-8 mb-5" data-aos="zoom-in-up"
                               data-aos-duration="1400">
                                @Html.Raw(Model.About.Description)
                            </p>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cmn About End -->

 

</main>
<!-- Main End -->

