@{
    ViewData["Title"] = string.IsNullOrEmpty(DataRequestModel.SiteSetting.MetaTitle) ? "Anasayfa" : DataRequestModel.SiteSetting.MetaTitle;
    ViewData["MetaDescription"] = string.IsNullOrEmpty(DataRequestModel.SiteSetting.MetaDescription) ? "Anasayfa İdeio Creative" : DataRequestModel.SiteSetting.MetaDescription;
    ViewData["MetaKeywords"] = string.IsNullOrEmpty(DataRequestModel.SiteSetting.Keywords) ? "Anasayfa İdeio Creative" : DataRequestModel.SiteSetting.Keywords;
}
<!-- Main start -->
<main class="main position-relative overflow-hidden" id="mains">

    <!-- Custom Line Shape -->
    <div class="line-shape cus-z-1 first w-100 h-100 d-flex flex-wrap"></div>
    <!-- Custom Line Shape -->
    <!-- Hero Section Version0 -->
    <section class="hero-section-version1 position-relative">
        <div class="container">
            <div class="row g-5">
                <div class="hero-v1-content position-relative">
                    <div class="d-flex align-items-sm-center align-items-end justify-content-between">
                        <h1 class="white-clr text-uppercase">
                            <span class="d-block" data-aos="zoom-in-left" data-aos-duration="1800">
                                İdeio Creative
                            </span>
                            <span>
                                @* <span class="text-italic" data-aos="zoom-in-right" data-aos-duration="2100">
                                    Creative
                                </span> *@
                                <span class="designers" data-text="#GösterKendini" data-aos="zoom-in"
                                      data-aos-duration="2000">#GösterKendini</span>
                            </span>
                        </h1>
                        <a href="https://www.youtube.com/watch?v=lMJImKo-eZU" class="video-popup">
                            <span class="icon">
                                <i class="fas fa-play"></i>
                            </span>
                            <img src="assets/img/element/bn1-circle.png" alt="img" class="hero-circle">
                        </a>
                    </div>
                    <div class="hero-sponsor">
                        <div class="sponsor-inner d-flex align-items-center gap-xxl-13 gap-xl-10 gap-lg-8 gap-md-6 gap-5 mb-xxl-10 mb-xl-7 mb-lg-6 mb-6">
                            <a href="index.html">
                                <img src="assets/img/client/c1.png" alt="img">
                            </a>
                            <a href="index.html">
                                <img src="assets/img/client/c2.png" alt="img">
                            </a>
                            <a href="index.html">
                                <img src="assets/img/client/c3.png" alt="img">
                            </a>
                            <a href="index.html">
                                <img src="assets/img/client/c1.png" alt="img">
                            </a>
                            <a href="index.html">
                                <img src="assets/img/client/c2.png" alt="img">
                            </a>
                            <a href="index.html">
                                <img src="assets/img/client/c3.png" alt="img">
                            </a>
                        </div>
                        @* <div class="brandin-wrap d-block">
                            <h4 class="white-clr brading-text">
                                1k + Brands Trust Us

                            </h4>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Exprience box -->
        @* <div class="hero-expriencebox d-flex align-items-center">
            <div class="expri-thumb">
                <img src="assets/img/banner/bn-expri.png" alt="img">
            </div>
            <div class="expri-content d-flex align-items-center gap-xxl-11 gap-xl-9 gap-lg-7 gap-6">
                <div class="expri-cont-item">
                    <h6 class="white-clr mb-2">
                        12+
                    </h6>
                    <span class="yer spantext-clr">
                        years of experience
                    </span>
                </div>
                <div class="expri-cont-item">
                    <h6 class="white-clr mb-2">
                        25K+
                    </h6>
                    <span class="yer spantext-clr">
                        completed projects
                    </span>
                </div>
            </div>
        </div> *@
        <!-- Element -->
        <svg width="380" height="380" class="hero-arrow" viewBox="0 0 211 211" fill="none"
             xmlns="http://www.w3.org/2000/svg">

            <!-- Üst bar -->
            <rect x="80" y="18" width="51" height="18"
                  fill="url(#paint0_linear_6584_3026)" />

            <!-- Konuşma balonu -->
            <path d="M20 60 H191 V170 H105 L55 200 V170 H20 Z"
                  stroke="url(#paint0_linear_6584_3026)"
                  stroke-width="12"
                  fill="none" />

            <!-- Ortadaki halka -->
            <circle cx="105.5"
                    cy="118"
                    r="34"
                    stroke="url(#paint0_linear_6584_3026)"
                    stroke-width="14"
                    fill="none" />

            <defs>
                <linearGradient id="paint0_linear_6584_3026"
                                x1="416.867" y1="-216.267"
                                x2="8.49998" y2="192.1"
                                gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#E3FF04" />
                    <stop offset="1" stop-color="#FF7425" stop-opacity="0" />
                </linearGradient>
            </defs>
        </svg>
    </section>
    <!-- Hero Section Version0 -->
    <!-- Product That Start -->
    <section class="about-product pt-space">
        <div class="container">
            <div class="row g-xxl-7 g-5">
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <div class="about-product-thumb w-100" data-aos="zoom-in" data-aos-duration="2000">
                        <img src="assets/img/about/about-v1thumb.png" alt="img" class="w-100">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-product-content ps-xxl-10">
                        <div class="pricing-title">
                            <div class="radius-btn text-uppercase cmn-border d-inline-flex radius100 py-xxl-2 py-2 px-xxl-4 px-4 theme-clr gap-xxl-4 gap-3 mb-xxl-7 mb-xl-6 mb-5"
                                 data-aos="fade-up-right" data-aos-duration="1500">
                                BİZ KİMİZ
                                <span class="rot60 d-inline-block">
                                    <i class="fas fa-arrow-up theme-clr"></i>
                                </span>
                            </div>
                            <h2 class="stitle mb-xxl-8 mb-xl-7 mb-xl-5 mb-4" data-aos="fade-up"
                                data-aos-duration="1600">
                                Discover <span class="fw-400 theme-clr">Our Awards</span>
                            </h2>
                            <p class="white-clr mb-xxl-9 mb-xl-7 mb-xl-6 mb-6" data-aos="fade-up"
                               data-aos-duration="1900">
                                Bring to the table win-win survival strategies to ensure proactive domination. At
                                the end of the day, going forward, a
                                new normal that has evolved from generation on the runway heading towards a
                                streamlined
                            </p>
                            <div class="discover-dating" data-aos="fade-up" data-aos-duration="2200">
                                <div class="allyear d-flex align-items-center justify-content-between mb-xxl-4 mb-xl-3">
                                    <h5 class="fw-medium theme-clr">
                                        2019
                                    </h5>
                                    <h5 class="fw-medium theme-clr">
                                        2021
                                    </h5>
                                    <h5 class="fw-medium theme-clr">
                                        2023
                                    </h5>
                                </div>
                                <div class="allyear-content d-flex justify-content-between">
                                    <div class="allyear-item">
                                        <h5 class="white-clr mb-xxl-3 mb-2">
                                            Awwwards
                                        </h5>
                                        <span class="spantext-clr">
                                            Website of the day
                                        </span>
                                    </div>
                                    <div class="allyear-item">
                                        <h5 class="white-clr mb-xxl-3 mb-2">
                                            Awwwards
                                        </h5>
                                        <span class="spantext-clr">
                                            National design contest
                                        </span>
                                    </div>
                                    <div class="allyear-item">
                                        <h5 class="white-clr mb-xxl-3 mb-2">
                                            Awwwards
                                        </h5>
                                        <span class="spantext-clr">
                                            Apps of the day
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product That End -->
    <!-- Service Version01 Tabs Start -->
    <section class="service-section pt-space pb-space">
        <div class="container position-relative">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-5 mb-xxl-17 mb-xl-12 mb-lg-10 mb-md-10 mb-sm-10 mb-9">
                <div class="pricing-title">
                    <div class="radius-btn text-uppercase cmn-border d-inline-flex radius100 py-xxl-2 py-2 px-xxl-4 px-4 theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5">
                        Hizmetlerimiz
                        <span class="rot60 d-inline-block">
                            <i class="fas fa-arrow-up theme-clr"></i>
                        </span>
                    </div>
                    <h2 class="stitle">
                        Profesyonel <span class="fw-400">Hizmet</span> Çözümleri
                    </h2>
                </div>
                <a asp-controller="Service" asp-action="Index"
                   class="radius-btn d-inline-flex radius100 py-xxl-2 py-2 px-xxl-5 px-5 theme-border theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5">
                    Tüm Hizmetlerimizi Gör
                </a>
            </div>

            <!--Service Tabing section-->
            <div class="row g-xxl-6 g-4">
                <div class="service-tabing-wrap Faqs-section">
                    <div class="accordion-single active py-xxl-9 py-xl-7 py-lg-6 py-5 bt-border">
                        <div class="header-area">
                            <div class="accordion-btn justify-content-between d-flex align-items-center text-start d-flex position-relative w-100">
                                <div class="mtitle-ara">
                                    <span class="d-inine-flex serial-badge align-items-center gap-4 cmn-border radius100 white-clr">
                                        01
                                        <span class="rot60 d-inline-block theme-clr">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </span>
                                    </span>
                                    <span class="mtitle d-block mt-6">
                                        <a href="service-details.html" class="white-clr whitehover">
                                            Digitalization
                                        </a>
                                    </span>
                                    <span class="pras mt-xxl-7 mt-xl-5 mt-4 d-block">
                                        We build intelligent next-generation solutions at the intersection of new
                                        business opportunities and technological
                                        innovations.
                                    </span>
                                </div>
                                <div class="images-remove-area d-lg-flex d-none align-items-center gap-xxl-8 gap-4">
                                    <ul class="modern-list d-grid gap-2">
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Legacy Modernization
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Solution Design
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Technology Enabling
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Mobile-First Systems
                                        </li>
                                    </ul>
                                    <div class="tab-remove-thumb">
                                        <img src="assets/img/service/tab1.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-single py-xxl-9 py-xl-7 py-lg-6 py-5 bt-border">
                        <div class="header-area">
                            <div class="accordion-btn justify-content-between d-flex align-items-center text-start d-flex position-relative w-100">
                                <div class="mtitle-ara">
                                    <span class="d-inine-flex serial-badge align-items-center gap-4 cmn-border radius100 white-clr">
                                        02
                                        <span class="rot60 d-inline-block theme-clr">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </span>
                                    </span>
                                    <span class="mtitle d-block mt-6">
                                        <a href="service-details.html" class="white-clr whitehover">
                                            Modernization
                                        </a>
                                    </span>
                                    <span class="pras mt-xxl-7 mt-xl-5 mt-4 d-block">
                                        We build intelligent next-generation solutions at the intersection of new
                                        business opportunities and technological
                                        innovations.
                                    </span>
                                </div>
                                <div class="images-remove-area d-lg-flex d-none align-items-center gap-xxl-8 gap-4">
                                    <ul class="modern-list d-grid gap-2">
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Legacy Modernization
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Solution Design
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Technology Enabling
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Mobile-First Systems
                                        </li>
                                    </ul>
                                    <div class="tab-remove-thumb">
                                        <img src="assets/img/service/tab2.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-single py-xxl-9 py-xl-7 py-lg-6 py-5 bt-border">
                        <div class="header-area">
                            <div class="accordion-btn justify-content-between d-flex align-items-center text-start d-flex position-relative w-100">
                                <div class="mtitle-ara">
                                    <span class="d-inine-flex serial-badge align-items-center gap-4 cmn-border radius100 white-clr">
                                        03
                                        <span class="rot60 d-inline-block theme-clr">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </span>
                                    </span>
                                    <span class="mtitle d-block mt-6">
                                        <a href="service-details.html" class="white-clr whitehover">
                                            Accelerating Innovation
                                        </a>
                                    </span>
                                    <span class="pras mt-xxl-7 mt-xl-5 mt-4 d-block">
                                        We build intelligent next-generation solutions at the intersection of new
                                        business opportunities and technological
                                        innovations.
                                    </span>
                                </div>
                                <div class="images-remove-area d-lg-flex d-none align-items-center gap-xxl-8 gap-4">
                                    <ul class="modern-list d-grid gap-2">
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Legacy Modernization
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Solution Design
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Technology Enabling
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Mobile-First Systems
                                        </li>
                                    </ul>
                                    <div class="tab-remove-thumb">
                                        <img src="assets/img/service/tab3.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-single py-xxl-9 py-xl-7 py-lg-6 py-5 bb-border bt-border">
                        <div class="header-area">
                            <div class="accordion-btn justify-content-between d-flex align-items-center text-start d-flex position-relative w-100">
                                <div class="mtitle-ara">
                                    <span class="d-inine-flex serial-badge align-items-center gap-4 cmn-border radius100 white-clr">
                                        04
                                        <span class="rot60 d-inline-block theme-clr">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </span>
                                    </span>
                                    <span class="mtitle d-block mt-6">
                                        <a href="service-details.html" class="white-clr whitehover">
                                            Business consulting
                                        </a>
                                    </span>
                                    <span class="pras mt-xxl-7 mt-xl-5 mt-4 d-block">
                                        We build intelligent next-generation solutions at the intersection of new
                                        business opportunities and technological
                                        innovations.
                                    </span>
                                </div>
                                <div class="images-remove-area d-lg-flex d-none align-items-center gap-xxl-8 gap-4">
                                    <ul class="modern-list d-grid gap-2">
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Legacy Modernization
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Solution Design
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Technology Enabling
                                        </li>
                                        <li class="d-flex align-items-center gap-2">
                                            <i class="fas fa-chevron-right"></i> Mobile-First Systems
                                        </li>
                                    </ul>
                                    <div class="tab-remove-thumb">
                                        <img src="assets/img/service/tab4.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service Tabing section-->
        </div>
    </section>
    <!-- Service Version01 Tabs End -->
    <!-- Watch Version01 Start -->
    <div class="watch-version01 zindex1 position-relative">
        <div class="container">
            <div class="watch-content d-center">
                <a href="https://www.youtube.com/watch?v=lMJImKo-eZU" class="video-popup position-relative">
                    <span class="icons themebg radius100 d-center">
                        <i class="fas fa-play"></i>
                    </span>
                    <img src="assets/img/element/watch-ciricle01.png" alt="img" class="circle">
                </a>
            </div>
        </div>
    </div>
    <!-- Watch Version01 End -->
    <!-- References Start -->
    <section class="team-details pt-space pb-space">
        <div class="container">

            <div class="d-flex align-items-center justify-content-between gap-3">
                <h3 class="related-title white-clr">
                    Referanslarımız
                </h3>
                <div class="slider-button d-flex gap-xxl-3 gap-2 align-items-center justify-content-between slider-button-60 mt-xxl-15 mt-xl-10 mt-9 mb-xxl-15 mb-xl-10 mb-9">
                    <button class="cmn-prev cmn-border d-center">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="cmn-next cmn-border d-center">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="swiper team-slidewrap">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="team-common-item">
                            <div class="thumb position-relative overflow-hidden w-100">
                                <img src="assets/img/team/team1.png" alt="img" class="overflow-hidden w-100">


                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-common-item">
                            <div class="thumb position-relative overflow-hidden w-100">
                                <img src="assets/img/team/team1.png" alt="img" class="overflow-hidden w-100">


                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-common-item">
                            <div class="thumb position-relative overflow-hidden w-100">
                                <img src="assets/img/team/team1.png" alt="img" class="overflow-hidden w-100">


                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-common-item">
                            <div class="thumb position-relative overflow-hidden w-100">
                                <img src="assets/img/team/team1.png" alt="img" class="overflow-hidden w-100">


                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-common-item">
                            <div class="thumb position-relative overflow-hidden w-100">
                                <img src="assets/img/team/team1.png" alt="img" class="overflow-hidden w-100">


                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="team-common-item">
                            <div class="thumb position-relative overflow-hidden w-100">
                                <img src="assets/img/team/team1.png" alt="img" class="overflow-hidden w-100">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- References End -->
    <!-- Cmn Team version01 Start -->
    <section class="team-version01 pt-space pb-space">
        <div class="container position-relative">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-5 mb-xxl-15 mb-xl-12 mb-lg-10 mb-md-10 mb-sm-10 mb-9">
                <div class="pricing-title">
                    <div class="radius-btn text-uppercase cmn-border d-inline-flex radius100 py-xxl-2 py-2 px-xxl-4 px-4 theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5">
                        Ekibimiz
                        <span class="rot60 d-inline-block">
                            <i class="fas fa-arrow-up theme-clr"></i>
                        </span>
                    </div>
                    <h2 class="stitle">
                        Yaratıcı <span class="fw-400">Ekibimizle</span> Tanışın
                    </h2>
                </div>
                <a asp-controller="Team" asp-action="Index"
                   class="radius-btn d-inline-flex text-capitalize radius100 py-xxl-2 py-2 px-xxl-5 px-5 theme-border theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5">
                    Hepsini Gör...
                </a>
            </div>
            <div class="row g-xxl-7 g-xl-5 g-4 justify-content-center">

                @{
                    int index = 1;
                }

                @foreach (var team in DataRequestModel.Teams)
                {
                    bool isEven = index % 2 == 0 && index != 0; // 2,4,6... için

                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 @(isEven ? "mt-lg-18" : "")"
                         data-aos="fadein"
                         data-aos-duration="1400">

                        <div class="team-card01 tilt overflow-hidden">
                            <div class="thumb overflow-hidden w-100 position-relative mb-xxl-7 mb-xl-6 mb-5">
                                <img src="assets/img/team/team2.png" alt="img" class="w-100">
                            </div>

                            <div class="content">
                                <span class="bspan-clr position-relative mb-xxl-4 mb-xxl-3 mb-3">
                                    @team.Position
                                </span>
                                <h5 class="white-clr whitehover">
                                    <a href="team-details.html" class="white-clr whitehover">
                                        @team.Name
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    index++;
                }

           

            </div>
        </div>
    </section>
    <!-- Cmn Team version01 End -->
    <!-- Text SLider Start -->
    <div class="digital-solution testi-italic mb-xxl-4 pb-lg-0 pb-15">
        <div class="mycustom-marque">
            <div class="scrolling-wrap">
                <div class="comm">
                    <div class="cmn-textslide textitalick">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                    <div class="cmn-textslide text-custom-storke">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                    <div class="cmn-textslide textitalick">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                    <div class="cmn-textslide text-custom-storke">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                </div>
                <div class="comm">
                    <div class="cmn-textslide textitalick">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                    <div class="cmn-textslide text-custom-storke">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                    <div class="cmn-textslide textitalick">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                    <div class="cmn-textslide text-custom-storke">#GösterKendini</div>
                    <div><img height="100" width="100" src="assets/img/client/testi.png" alt="img"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Text Slider End -->
    <!-- Version01 BLog One Start -->
    @*  <section class="home-blog-version1 pb-space pt-space">
        <div class="container zindex position-relative">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-5 mb-xxl-15 mb-xl-12 mb-lg-10 mb-md-10 mb-sm-10 mb-9">
                <div class="pricing-title">
                    <div class="radius-btn text-uppercase cmn-border d-inline-flex radius100 py-xxl-2 py-2 px-xxl-4 px-4 theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5">
                        BLOG & News
                        <span class="rot60 d-inline-block">
                            <i class="fas fa-arrow-up theme-clr"></i>
                        </span>
                    </div>
                    <h2 class="stitle">
                        Check Our <span class="fw-400">Company</span>
                        <span class="d-block fw-semibold">
                            Inside Story
                        </span>
                    </h2>
                </div>
                <a href="blog-grid.html"
                   class="radius-btn d-inline-flex radius100 py-xxl-2 py-2 px-xxl-5 px-5 theme-border theme-clr gap-xxl-4 gap-3 mb-xxl-8 mb-xl-6 mb-5">
                    View all Artcile
                </a>
            </div>
            <div class="row g-xxl-7 g-xl-6 g-4">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-widget-item">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/blog/mblog1.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="blog-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-1 py-1 px-xxl-4 px-3 theme-clr">
                                    Creative
                                </a>
                                <span class="bspan-clr">
                                    MARCH 24, 2024
                                </span>
                            </div>
                            <h5>
                                <a href="blog-details.html" class="white-clr">
                                    Transforming Challenges into
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-widget-item">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/blog/mblog2.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="blog-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-1 py-1 px-xxl-4 px-3 theme-clr">
                                    Creative
                                </a>
                                <span class="bspan-clr">
                                    MARCH 24, 2024
                                </span>
                            </div>
                            <h5>
                                <a href="blog-details.html" class="white-clr">
                                    Design Inspiration Where to Find
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="blog-widget-item">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/blog/mblog3.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="blog-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-1 py-1 px-xxl-4 px-3 theme-clr">
                                    Creative
                                </a>
                                <span class="bspan-clr">
                                    MARCH 24, 2024
                                </span>
                            </div>
                            <h5>
                                <a href="blog-details.html" class="white-clr">
                                    Creating new working in the digital
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!-- Version01 BLog One End -->



</main>
<!-- Main End -->