<!-- Main start -->
<main class="main">

    <!-- Breadcrumnd Banner -->
    <section class="breadcrumnd-banner position-relative">
        <div class="container">
            <div class="row g-5 justify-content-center">
                <div class="col-lg-7">
                    <div class="breadcrumnd-content text-center">
                        <h1 class="white mb-xxl-10 mb-xl-8 mb-6" data-aos="zoom-in-left" data-aos-duration="1800">
                            Case Study Grid
                        </h1>
                        <ul class="breadcrumnd d-inline-flex align-items-center gap-2 pra-border radius100 py-xxl-3 py-2 px-xxl-4 px-4"
                            data-aos="zoom-in-right" data-aos-duration="2000">
                            <li>
                                <a href="index.html" class="text-uppercase htheme">
                                    Home
                                </a>
                            </li>
                            <li>
                                <span class="rot60 d-inline-block">
                                    <i class="fas fa-arrow-up"></i>
                                </span>
                            </li>
                            <li class="theme-clr">
                                Case Study Grid
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Element-->
        <img src="assets/img/element/cmn-dost.png" alt="img" class="cmn-dots">
        <div class="cmn-svg-shape cmn-svg">
            <svg width="280" height="280" viewBox="0 0 211 211" fill="none"
                 xmlns="http://www.w3.org/2000/svg">

                <!-- Üst bar -->
                <rect x="80" y="18" width="51" height="18"
                      fill="url(#paint0_linear_6584_3026)" />

                <!-- Konuşma balonu -->
                <path d="M20 60 H191 V170 H105 L55 200 V170 H20 Z"
                      stroke="url(#paint0_linear_6584_3026)"
                      stroke-width="12"
                      fill="none" />

                <!-- Ortadaki halka -->
                <circle cx="105.5"
                        cy="118"
                        r="34"
                        stroke="url(#paint0_linear_6584_3026)"
                        stroke-width="14"
                        fill="none" />

                <defs>
                    <linearGradient id="paint0_linear_6584_3026"
                                    x1="416.867" y1="-216.267"
                                    x2="8.49998" y2="192.1"
                                    gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#E3FF04" />
                        <stop offset="1" stop-color="#FF7425" stop-opacity="0" />
                    </linearGradient>
                </defs>
            </svg>


        </div>
    </section>
    <!-- Breadcrumnd Banner -->
    <!-- Case Study Start -->
    <section class="case-study pt-space pb-space">
        <div class="container">
            <div class="row g-xxl-7 g-xl-6 g-6">
                <div class="col-lg-6 col-md-6" data-aos="zoom-in-left" data-aos-duration="1400">
                    <div class="blog-widget-item bb-border pb-xxl-7 pb-xl-6 pb-4">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/case/study-grid1.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="study-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-2 py-2 px-xxl-4 px-3 theme-clr">
                                    Creative
                                </a>
                            </div>
                            <h5>
                                <a href="study-details.html"
                                   class="white-clr d-flex align-items-center justify-content-between gap-3">
                                    A Simple Social Media Marketing Checklist
                                    <span class="rot60">
                                        <i class="fas fa-arrow-up theme-clr"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in-left" data-aos-duration="1600">
                    <div class="blog-widget-item bb-border pb-xxl-7 pb-xl-6 pb-4">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/case/study-grid2.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="study-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-2 py-2 px-xxl-4 px-3 theme-clr">
                                    Branding
                                </a>
                            </div>
                            <h5>
                                <a href="study-details.html"
                                   class="white-clr d-flex align-items-center justify-content-between gap-3">
                                    Transforming Challenges into Opportunities
                                    <span class="rot60">
                                        <i class="fas fa-arrow-up theme-clr"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in-left" data-aos-duration="1800">
                    <div class="blog-widget-item bb-border pb-xxl-7 pb-xl-6 pb-4">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/case/study-grid3.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="study-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-2 py-2 px-xxl-4 px-3 theme-clr">
                                    Creative
                                </a>
                            </div>
                            <h5>
                                <a href="study-details.html"
                                   class="white-clr d-flex align-items-center justify-content-between gap-3">
                                    varius suscipit lectus. Suspendisse
                                    <span class="rot60">
                                        <i class="fas fa-arrow-up theme-clr"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in-left" data-aos-duration="1900">
                    <div class="blog-widget-item bb-border pb-xxl-7 pb-xl-6 pb-4">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/case/study-grid4.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="study-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-2 py-2 px-xxl-4 px-3 theme-clr">
                                    Branding
                                </a>
                            </div>
                            <h5>
                                <a href="study-details.html"
                                   class="white-clr d-flex align-items-center justify-content-between gap-3">
                                    Internet tend to repeat predefined
                                    <span class="rot60">
                                        <i class="fas fa-arrow-up theme-clr"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in-left" data-aos-duration="2100">
                    <div class="blog-widget-item bb-border pb-xxl-7 pb-xl-6 pb-4">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/case/study-grid5.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="study-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-2 py-2 px-xxl-4 px-3 theme-clr">
                                    Creative
                                </a>
                            </div>
                            <h5>
                                <a href="study-details.html"
                                   class="white-clr d-flex align-items-center justify-content-between gap-3">
                                    available, but the majority have
                                    <span class="rot60">
                                        <i class="fas fa-arrow-up theme-clr"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" data-aos="zoom-in-left" data-aos-duration="2200">
                    <div class="blog-widget-item bb-border pb-xxl-7 pb-xl-6 pb-4">
                        <div class="thumb w-100 overflow-hidden mb-xxl-7 mb-xl-6 mb-4">
                            <img src="assets/img/case/study-grid6.png" alt="img" class="w-100 overflow-hidden">
                        </div>
                        <div class="blog-cont">
                            <div class="d-flex align-items-center gap-xxl-5 gap-xl-4 gap-3 mb-xxl-5 mb-xl-4 mb-3">
                                <a href="study-details.html"
                                   class="radius-btn cmn-border radius100 py-xxl-2 py-2 px-xxl-4 px-3 theme-clr">
                                    Branding
                                </a>
                            </div>
                            <h5>
                                <a href="study-details.html"
                                   class="white-clr d-flex align-items-center justify-content-between gap-3">
                                    Transforming Challenges into Opportunities
                                    <span class="rot60">
                                        <i class="fas fa-arrow-up theme-clr"></i>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Case Study End -->

</main>
<!-- Main End -->